@import url("https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&family=Roboto&family=Roboto+Mono:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}

.HeroImg {
  width: 100%;
  height: 100%;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.Herocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.HeroTitle {
  display: flex;
  text-align: center;
  position: absolute;
  color: white;
  font-family: "Anton", sans-serif;
  border-style: solid;
  border-width: 4px;
  margin-bottom: 160px;
  border-top-color: rgb(2, 182, 144);
  border-left-color: rgb(2, 182, 144);
  box-shadow: 10px 10px 5px rgb(2, 182, 144);
}
.HeroTitle h1 {
  font-size: 60px;
  text-align: center;
  letter-spacing: 2px;
}

.moon {
  display: flex;
  position: absolute;
  font-family: "Anton", sans-serif;
  letter-spacing: 6px;
  font-size: small;
  color: white;
  margin-bottom: 90px;
}
.moon2 {
  display: flex;
  position: absolute;
  font-family: "Anton", sans-serif;
  letter-spacing: 6px;
  font-size: small;
  color: white;
  margin-top: 20px;
}
@media (max-width: 600px) {
  .HeroTitle {
    margin-bottom: 20px;
  }
  .moon {
    margin-bottom: -50px;
  }
  .moon2 {
    margin-top: 140px;
  }
}

.AboutContainer {
  background-color: black;
  height: 100%;
}
.AboutContainer2 {
  display: flex;
  justify-content: center;
}
.Aboutpic {
  width: 50%;
  height: 100%;
}
.AboutContainer h1 {
  color: white;
  font-family: "Roboto Mono", monospace;
}
.homecontainer2 {
  display: flex;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  color: black;
}

.CardCss {
  display: flex;
  justify-content: center;

  width: 100%;
}
.CardCss1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
Footer {
  border-style: solid;
  background-color: black;
  margin-top: 100px;
  justify-content: center;
  display: flex;
}
